@import url('https://fonts.google.com/specimen/Hanken+Grotesk');
body{
    margin: 0;
    font-size: 10px;
    font-family: 'Hanken Grotesk';
} 
.margin{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main.content{
    width: 700px;
    height: 500px;
    display: flex;
    background-color: white;
    border-radius: 30px;
    box-shadow: 5px 5px 31px -18px rgba(66, 68, 50, 0.5);
}
.left-content{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(0deg, hsl(241, 81%, 54%), hsl(252, 100%));
    border-radius: 30px;
    color: hsl(241, 100%, 98%);
}
.left-content h3{
    margin-bottom: 32px;
} 
.final-result{
    width: 180px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, hsl(241, 72%, 46%, 0)0%, hsl(256, 72%, 46%, 1) 100%);
    border-radius: 50%;
    margin: 10px;
}
.final-result span{
    font-size: 60px;
    color: white;
    font-weight: 800;
}
h2{
    margin-bottom: -5px;
    color: white;
}
p{
    text-align: center;
    width: 250px;
}
h3{
    font-weight: 800;
}
.right-content{
    display: flex;
    flex-direction: column;
    margin: 30px;
    color: hsl(224, 30%, 27%);
}
.box-result{
    display: flex;
   justify-content: space-between;
   width: 262px;
   border-radius: 10px;
   padding: 14px;
   margin-bottom: 18px;
   font-weight: 500;
   color: hsla(224, 30%, 27%, 0.5);
}
.score{
    font-weight: 700;
}
.score span{
    color: hsla(224, 30%, 27%);
}
.box-result img{
    margin: -4px;
    margin-right: 10px;
}
.box-result:nth-of-type(1){
    background-color: hsla(0, 100%, 56%, 0.07);
}
.box-result:nth-of-type(2){
    background-color: hsla(166, 100%, 37%, 0.07);
}
.box-result:nth-of-type(3){
    background-color: hsla(166, 100%, 37%, 0,07);
}
.box-result:nth-of-type(4){
    background-color: hsla(234, 85%, 45%, 0.07);
}
.box-result:nth-of-type(1) .type-of-result{
    color: hsl(39, 100%, 37%);
} 
.box-result:nth-of-type(2) .type-of-result{
    color: hsl(39, 100%, 37%);
}
.box-result:nth-of-type(3) .type-of-result{
    color: hsl(166, 100%, 37%);
}
.box-result:nth-of-type(4) .type-of-result{
    color: hsl(234, 85%, 45%);
}
button{
    border: more;
    background-color: hsl(224, 30%, 27%);
    padding: 17px;
    font-size: 17px;
    font-weight: 700;
    border-radius: 40px;
    color: white;
    margin-top: 30px;
}
button:hover{
    cursor: pointer;
    background: linear-gradient(0deg, hsl(241, 81%, 54%), hsl(252, 100%, 67));
}
